.mainContentControlWithList {
    overflow-y: auto;
    position: fixed;
    top: 115px;
    padding: 10px;
    bottom: 0px;
}

@media only screen and (max-width: 600px) {
    .mainContentControlWithList {
        right: 0px;
        left: 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mainContentControlWithList {
        top: 65px;
        bottom: 0px;
        right: 0px;
        width: calc(100vw - 200px);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .mainContentControlWithList {
        width: calc(80vw);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .mainContentControlWithList {
        bottom: 0px;
    }
}